.container {
     display: flex;
     width: 300px;
     height: 600px;
     flex-direction: column;
}

.green {
    background-color: #51D400;
    flex-grow: 1;
    
}

.yellow {
    background-color: #FFD62A;
    flex-grow: 2;
    order: 1
}

.purple {
    background-color: #B02AFF;
    flex-grow: 1;  
}