container {
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"left right"
                        "footer footer";
    border: 3px solid black;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 12px;
    background-color: #F5F5F5;
}


 
.left {
    grid-area: left;
    display: grid;
    grid-template-rows: 90px 30px 1fr;
    grid-template-columns: 1fr 120px;
    grid-template-areas:"logo album"
                        "add album"
                        "playlist playlist";
    background-color: #F5F5F5;
}
 
.logo {
    grid-area: logo;
    background-image: url(../img/foxplayer.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
}
 
.add {
    grid-area: add;
    background-color: #fff;
    padding: 10px;
    text-decoration
}
 
.album_pic {
    grid-area: album;
    background-image: url(../img/music-placeholder.png);
    background-size: 100%;
}
 
.playlist {
    grid-area: playlist;
    overflow: scroll;
    max-height: 260px; 
    overflow-x: hidden;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

/*
 *  STYLE 11
 */

#style-11::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
    background-color: rgb(8, 216, 1);
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
                                            rgba(255, 255, 255, 0.5) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, 0.5) 50%,
                                            rgba(255, 255, 255, 0.5) 75%,
                                            transparent 75%,
                                            transparent)
}

 
.right {
    grid-area: right;
    background-color:#F5F5F5;
}

.star:hover {
    fill: #000;
}

.track-list {
    padding-top: 15px;
}
 
footer {
    border-radius: 12px;
    grid-area: footer;
    background-color: #f8f8f8;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* position: fixed; */
}

audio {
    width: 100%;
    align-self: center;
    background-color: #F5F5F5;
    cursor: pointer;
}

li {
    padding: 15px;
    list-style: none;
}

li:nth-child(even) {
    background-color: #fff;
}

li:hover {
    box-shadow: inset 0 0 10px green;    
    cursor: pointer;
}

li:active {
    background: linear-gradient(green, white);
    box-shadow: inset 0 0 10px black;    
    color: white;
}

li:nth-child(even):active {
    background: linear-gradient(green, white);    
    box-shadow: inset 0 0 10px black;    
    color: white;
}

.add {
    font-size: 150%;
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-around;
    align-items: center;    
}

.new-playlist {
    font-size: 200%;
    cursor: pointer;
}

.new-playlist:hover {
    color: green;
}

.playlist-form {
    display: none;
    position: absolute;
    border: 2px double black;
    padding: 3px;
    font-family: 'Arial', cursive;
    background-color: green;
    background: linear-gradient(green, yellowgreen);
    color: white;
    font-size: 30px;
    left: 35%;
    bottom: 50%;
}

span {
    float: right;
}

.create {
    background: linear-gradient(yellowgreen, green);
    color: white;
    cursor: copy;
}

.cancel {
    background: linear-gradient(yellowgreen, green);
    color: white;
    cursor: pointer;
}