html {
    background: radial-gradient(
        rgb(255, 255, 255) 30%,
        rgb(97, 97, 97)
        );
    height: 100%;
}

img {
    list-style: none;
    margin: 5px;
    width: 70px;
    height: 70px;
    box-shadow: 2px 5px 5px 5px grey;    
    border: 2px solid white;
    cursor: pointer;    
    
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    background-color: rgba(112, 109, 109, 0.233);    
    width: 80%;
    height: 450px;
    margin: auto;
    box-shadow: 0px 5px 5px 5px grey;
}

.prev {
    background-color: white;
    height: 100%;
    flex-grow: 1;
    background-image: url('content/arrow_back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    
}

.prev:hover {
    cursor: pointer;
}

.bigpic {
    display: flex;
    background-color: rgba(112, 109, 109, 0.233);
    height: 100%;
    flex-grow: 10;
    background-image: url("https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/1909758_705557362917651_5561632227437550336_n.jpg?oh=ce445a4b1be3161f7b8ff5424f090393&oe=5AA95D3B");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;    
}

.content {
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.404);
    transform: translateY(300%);
    color: white;
}

.next {
    background-color: white;
    height: 100%;
    flex-grow: 1;
    background-image: url('content/arrow_next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    transform: rotate(180deg);
    cursor: pointer;        
}

.footer {
    display: flex;
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
}

.thumbnail {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;    
}