html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    width: 28rem;
}

h1 {
    color: #FF835E;
}

h3 {
    color: #912BE2;
}

ol {
    list-style-type: upper-roman;
}

a {
    color: #FF5DFF;
}