.box {
    display: flex;
    border: solid black 4px;
    height: 600px;
    width: 800px;
    margin: 10px;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    margin: auto;
}